.navbar {
  background-color: #4C4AE6;
  width: 378px;
  height: 75px;
  display: flex;
  text-align: justify;
  justify-content: space-around;
}

/* anime_navbar {
  color: #fff;
  display: flex;
  text-align: center;
} */
